/* Roboto Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
  text-decoration: none;
  border: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  background: #000;
}
header .header-nav {
  background-color: var(--bg-color);
  height: 100px;
  /* line-height: 100px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.nav-logo span {
  background-color: #fff;
  color: tomato;
  margin-right: 2px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-items a {
  color: #fff;
  margin: 0 12px;
}
