/* Roboto Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
  text-decoration: none;
  border: none;
}
:root {
  --main-color: rgb(211, 173, 127);
  --bg-color: #4e4e5b;
  --bg-blue-color: #424273;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.section-title {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.section-title span {
  color: var(--main-color);
}
.btn {
  color: #fff;
  background-color: var(--main-color);
  display: inline-block;
  padding: 10px 25px;
}
.ratings i {
  color: var(--main-color);
}
/* Header Nav CSS start */
header .header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  height: 100px;
  line-height: 100px;
  z-index: 9999;
}
.header-nav .nav-logo img {
  width: 75px;
  display: flex;
  align-items: center;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav .nav-links {
  /* position: relative; */
}
.header-nav .nav-links a {
  color: #fff;
  position: relative;
  margin: 0 12px;
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
}
.header-nav .nav-links a::after {
  content: '';
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid #fff;
  color: #fff;
  transform: scale(0);
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.header-nav .nav-links a:hover {
  color: var(--main-color);
}
.header-nav .nav-links a:hover::after {
  border-color: var(--main-color);
  bottom: -10px;
  display: block;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.header-nav .nav-cart a {
  color: #fff;
}

/* Hero CSS Starts */
.hero {
  background-image: url(../images/hero.jpg);
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}
.hero-content {
  width: 50%;
  z-index: 99;
}
.hero-content h1 {
  color: #fff;
  font-size: 65px;
  margin-bottom: 15px;
}
.hero-content p {
  color: rgb(212, 204, 204);
  font-size: 20px;
  margin-bottom: 30px;
}
.hero-content a {
  display: inline-block;
  padding: 10px 30px;
  font-weight: bold;
  width: 160px;
  background-color: var(--main-color);
  color: #fff;
  transform: scaleX(1);
  transition: all linear 0.3s;
}
.hero-content a:hover {
  width: 180px;
}

/* About us section CSS Starts */
#about-us {
  background-color: var(--bg-color);
  padding: 50px 0;
}
.about-us-wrapper {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-blue-color);
}
.about-img {
  width: 50%;
}
.about-img img {
  width: 100%;
}
.about-content {
  width: 50%;
  padding-right: 30px;
}
.about-content h3 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}
.about-content p {
  color: rgb(228, 224, 224);
  margin-bottom: 20px;
}
.about-content .btn {
  margin-top: 20px;
  width: 135px;
  transform: scaleX(1);
  transition: all linear 0.3s;
}
.about-content .btn:hover {
  width: 150px;
}

/* Menu Items CSS starts */
#menu {
  background-color: var(--bg-color);
  padding-bottom: 50px;
}
.menu-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 20px;
}
.menu-item {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.menu-item-content {
  text-align: center;
  margin-top: 10px;
}
.menu-item-content h5 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}
.menu-item-content h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
.menu-item-content h4 span {
  color: rgb(215, 212, 212);
  font-size: 16px;
  text-decoration: line-through;
}
.menu-item:hover {
  background-color: #fff;
}
.menu-item:hover .menu-item-content h5,
.menu-item:hover .menu-item-content h4,
.menu-item:hover .menu-item-content span {
  color: #424273;
}

/* Products section CSS starts */
#products {
  background-color: var(--bg-color);
  padding-bottom: 50px;
}
.product-items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.product-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
}
.product-icons a {
  display: inline-block;
  margin: 0 5px;
  padding: 8px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
}
.product-imges {
  margin-top: 20px;
}
.product-content {
  text-align: center;
}
.product-content h5 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.product-content h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}
.product-content h4 span {
  color: rgb(215, 212, 212);
  font-size: 16px;
  text-decoration: line-through;
}

/* Customer Review Section CSS starts */
#review {
  background-color: var(--bg-color);
  padding-bottom: 50px;
}
.customer-review {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.single-review {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  text-align: center;
}
.review-body p {
  color: rgb(212, 204, 204);
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.review-body img {
  width: 75px;
  height: 75px;
  margin: auto;
  border-radius: 75px;
}
.review-body h5 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}
